<section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="inner-heading">
            <ul class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              </ul>
            <h2>Careers</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="content" class="secpd1 careers">
    <div class="container">
      <div class="row">
          <div class="col-sm-12">
          <!-- Section 1 Satrt  -->
  <div class="section">
  <h2 class="title-2 font-U">Careers</h2>
  <div class="clearfix M10"></div> 
          <p class="text-16">For your career opportunities mail us at: <a href="mailto:info@blueocean-technologies.com" style="color: #189fd6;">info@blueocean-technologies.com</a></p>
  </div>
     <!-- Section 1 End   -->
          </div>
       </div>
    </div>
  </section>
<script>
function print_current_page()
{
window.print();
}
</script>