<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <form [formGroup]="bngForm" >
                <h3>Add Brand</h3>
                <hr/>
                <div class="form-group">
                    <label>Brand Id</label>
                    <input type="text" class="form-control" formControlName="BrandId" >
                </div>
                <div class="form-group">
                    <label>Brand Name</label>
                    <input type="text" class="form-control" formControlName="BrandName">
                </div>
                
                <div class="form-group" >                         
                    <label>Logo Image </label> 
                    <input type="file" name="profile" (change)="onFileSelect($event)" formControlName="Image">                                                            
                </div>
               
                <div style="clear:both"></div>
                <hr/>
                <div class="form-group">
                    <button (click)='addBrand()' class="btn btn-success btn-sm">Submit</button>
                    <button (click)="cancel()"  class="btn btn-danger btn-sm">Cancel</button>
                </div>               
            </form>
        </div>
    </div>
</div>