<div class="row">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
			 <div>
				<h2>Product Categories <button class="btn-sm" (click)="openModal()" style="float:right;">+ Add New Category</button> </h2>	
			 </div>
		   </div>
		   <div class="card-body text-center">
			<table class="table" border="1">
				<tr>
          			<th>Category ID</th>
          			<th>Category Name</th>
					<th>Brand Name</th>
					<!-- <th>Images</th> -->
					<!-- <th>Category Description</th> -->
					<th colspan="2" style="width: 150px;">Actions</th>
          		</tr>
				<tr *ngFor="let category of categories">
					<td>{{category.categories_id}}</td>
					<td>{{category.categories_name}}</td>
					<td>{{category.brand_name}}</td>
					<!-- <td>{{category.categories_images}}</td> -->
					<!-- <td>{{category.categories_description}}</td> -->
					<td  style="width: 150px;"><button (click)="openModal(category)" class="btn btn-info btn-sm" style="cursor: pointer;"> Edit </button>
					<button (click)="delete(category.categories_id)" class="btn btn-danger btn-sm" style="cursor: pointer;"> Delete </button></td>
				</tr>
			</table>
		   </div>
		</div>
	</div>
</div>