<div style="clear: both;"></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="widget text-center">
          <address>
          <i class="fa fa-home"></i> <strong>BlueOcean Technologies,</strong> 
          Unit No: C15,
          DMCC Business Centre, 
          Level No 13, AG Tower, 
          Dubai, United Arab Emirates.
        </address>
         </div>
      </div>
      <div class="col-sm-12">
        <div class="widget text-center">
           <p>
            <i class="icon-phone"></i> +971 4 5786974 , <i class="fa fa-fax"></i> +971 4 5786988</p>
            <p><i class="icon-envelope-alt"></i> <a href="mailto:info@blueocean-technologies.com"> info@blueocean-technologies.com</a></p>
    <p class="social"><a href="https://www.facebook.com/BlueOcean-Technologies-105016597822353" target="_blank" style="color:#465993;"><i class="fa fa-facebook"></i></a> &nbsp;&nbsp;&nbsp; <a href="https://www.linkedin.com/company/blueocean-technologies/" target="_blank" style="color:#0678b6;"><i class="fa fa-linkedin"></i></a> &nbsp;&nbsp;&nbsp; <a href="https://www.instagram.com/blueocean_technologies/" target="_blank" style="color:#ff9900;"><i class="fa fa-instagram"></i></a></p>
  </div>
      </div>
    </div>
  </div>
  <div id="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright text-center">
            <p><span>&copy; BlueOcean Technologies Pvt. Ltd. All right reserved</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>