<!-- section featured -->
<section id="featured">

  <!-- slideshow start here -->

  <div class="camera_wrap" id="camera-slide">
    <div data-src="assets/img/banner2.jpg">
      <div class="camera_caption fadeFromLeft">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 bimg bimg2">
              <img src="assets/img/boxlight-slider.png" alt="" />
            </div>
            <div class="col-sm-5 txt">
              <h2 class="animated fadeInDown"><strong>MimioDisplay 3 Interactive Touchscreen</strong></h2>
              <p>MimioStudio classroom software</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-src="assets/img/banner1.jpg">
      <div class="camera_caption fadeFromLeft">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 bimg">
              <img src="assets/img/screenInnovations-bg.png" alt="" class="animated bounceInDown delay1" />
            </div>
            <div class="col-sm-5 txt">
              <h2 class="animated fadeInDown"><strong>Projection with lights on!</strong></h2>
              <!--<a href="#" class="btn btn-success btn-large animated fadeInUp">
                                          <i class="icon-link"></i> View Details
                                      </a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slide 2 here -->
    <div data-src="assets/img/banner2.jpg">
      <div class="camera_caption fadeFromLeft">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 bimg">
              <img src="assets/img/conference-system.png" alt="" />
            </div>
            <div class="col-sm-5 txt">
              <h2 class="animated fadeInDown"><strong>Professional Conference System SV3600</strong></h2>
              <p class="animated fadeInUp hidden"> The SV18's audio system has 12 high sensitivity microphone arrays
                With high-order beamforming technology 360<sup>0</sup> all round long distance Sound acquisition</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slide 1 here -->

    <div data-src="assets/img/banner1.jpg">
      <div class="camera_caption fadeFromLeft">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 bimg">
              <img src="assets/img/sprolink-bg.png" alt="" style="width: 100%; height: auto !important;" />
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6 txt">
              <h2 class="animated fadeInDown"><strong>Modular Video Wall Controller 3D/4K Pixel-to-Pixel Large Scale
                  Solution</strong></h2>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- slideshow end here -->

</section>


<section class="services-style1-area service-page secpd1">
  <div class="container">
    <div class="sec-title centered">
      <!--<div class="title text-white">Sub Title</div>
				<div class="separator"><span></span></div>-->
      <h2 class="">Our Brands</h2>
      <div class="separator"><span></span></div>
    </div>
    <div class="row">
      <!--Start single solution style1-->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" *ngFor="let brand of brands">
        <div class="single-service-style1 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1200ms">
          <div class="inner">
            <div class="img-holder">
              <img (click)="clickBrand(brand.brand_id)" src="http://localhost:8081/{{brand.images}}" alt="images">
            </div>
          </div>
          <div class="text-holder text-center">
            <div class="button">
              <a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--End single solution style1-->

    </div>
  </div>
</section>

<section id="content" class="secpd2 pimgs">
  <div class="container">
    <div class="sec-title centered">
      <h2>Products</h2>
      <div class="separator"><span></span></div>
    </div>
    <div class="row">
      <div class="col-sm-12 aligncenter">
        <ul class="bxslider">
          <li>
            <div class="product-details">
              <img src="assets/img/products/07-boxlight.png" alt="" />
              <div class="details">
                <h4>Boxlight</h4>
              </div>
            </div>
            <div class="product-details">
              <img src="assets/img/products/10-newstar.png" alt="" />
              <div class="details">
                <h4>Newstar</h4>
              </div>
            </div>
            <div class="product-details">
              <img src="assets/img/products/06-si1.png" alt="" />
              <div class="details">
                <h4>Screen Innovations</h4>
              </div>
            </div>
          </li>
          <li>
            <div class="product-details">
              <img src="assets/img/products/09-si2.png" alt="" />
              <div class="details">
                <h4>Screen Innovations</h4>
              </div>
            </div>
            <div class="product-details">
              <img src="assets/img/products/11-si3.png" alt="" />
              <div class="details">
                <h4>Screen Innovations</h4>
              </div>
            </div>
            <div class="product-details">
              <img src="assets/img/products/qomo1.png" alt="" />
              <div class="details">
                <h4>Qomo</h4>
              </div>
            </div>
          </li>
          <li>
            <div class="product-details">
              <img src="assets/img/products/qomo2.png" alt="" />
              <div class="details">
                <h4>Qomo</h4>
              </div>
            </div>
            <div class="product-details">
              <img src="assets/img/products/01-adder.png" alt="" />
              <div class="details">
                <h4>Adder</h4>
              </div>
            </div>
            <div class="product-details">
              <img src="assets/img/products/abtus1.png" alt="" />
              <div class="details">
                <h4>Abtus</h4>
              </div>
            </div>

          </li>
          <li>
            <div class="product-details">
              <img src="assets/img/products/abtus2.png" alt="" />
              <div class="details">
                <h4>Abtus</h4>
              </div>
            </div>
            <div class="product-details">
              <img src="assets/img/products/02-eacome.png" alt="" />
              <div class="details">
                <h4>Eacome</h4>
              </div>
            </div>
            <div class="product-details">
              <img src="assets/img/products/08-eacome2.png" alt="" />
              <div class="details">
                <h4>Eacome</h4>
              </div>
            </div>
          </li>
          <li>
            <div class="product-details">
              <img src="assets/img/products/05-nb.png" alt="" />
              <div class="details">
                <h4>NorthBayou</h4>
              </div>
            </div>
            <div class="product-details">
              <img src="assets/img/products/03-lenscen.png" alt="" />
              <div class="details">
                <h4>Lenscen</h4>
              </div>
            </div>
            <div class="product-details">
              <img src="assets/img/products/04-sprolink.png" alt="" />
              <div class="details">
                <h4>Sprolink</h4>
              </div>
            </div>
          </li>
          <!-- <li>
                  <div class="product-details">
                      <img src="assets/img/products/SI.png" alt="" />
                    <div class="details">
                    <h4>SI</h4>
                  </div>
                  </div>
                  <div class="product-details">
                      <img src="assets/img/products/Sprolink.png" alt="" />
                    <div class="details">
                    <h4>Sprolink</h4>
                  </div>
                  </div>
                </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>



<section id="content" class="secpd1 pvideos">
  <div class="container">
    <div class="sec-title centered">
      <h2>Videos</h2>
      <div class="separator"><span></span></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>    -->
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/BAoW_dCrfEc" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>						 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/VD3.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/0iJ11XUuYZQ" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>						 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/SI.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/6QU_iGwI8mE" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>	 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/Newstar.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/oXZSQGybyJc" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>						 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/qomo.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/5YgJ8ebH5Dk" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>						 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/Boxlight.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/pjU_3_VjGao" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>	 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/northbayou.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
