<section id="featured">
  <div class="camera_wrap" id="camera-slide">
    <div class="camera_fakehover">
      <div class="camera_src camerastarted paused">
        <div data-src="assets/img/banner2.jpg">
        </div>
        <div data-src="assets/img/banner1.jpg">
        </div>
        <div data-src="assets/img/banner2.jpg"></div>
        <div data-src="assets/img/banner1.jpg"></div>
      </div>
      <div class="camera_target">
        <div class="cameraCont">
          <div class="cameraSlide cameraSlide_0 cameracurrent">
            <img src="assets/img/banner2.jpg" class="imgLoaded">
            <div class="camerarelative"></div>
          </div>
          <div class="cameraSlide cameraSlide_1 cameranext"><img src="assets/img/banner1.jpg" class="imgLoaded">
            <div class="camerarelative"></div>
          </div>
          <div class="cameraSlide cameraSlide_2">
            <div class="camerarelative"></div>
          </div>
          <div class="cameraSlide cameraSlide_3">
            <div class="camerarelative"></div>
          </div>
          <div class="cameraSlide cameraSlide_4">
            <div class="camerarelative"></div>
          </div>
        </div>
      </div>
      <div class="camera_overlayer"></div>
      <div class="camera_target_content">
        <div class="cameraContents">
          <div class="cameraContent cameracurrent">
            <div class="camera_caption fadeFromLeft">
              <div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-7 bimg bimg2"><img alt="" src="assets/img/boxlight-slider.png"></div>
                    <div class="col-sm-5 txt">
                      <h2 class="animated fadeInDown"><strong>MimioDisplay 3 Interactive Touchscreen</strong></h2>
                      <p>MimioStudio classroom software</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cameraContent">
            <div class="camera_caption sifadeFromLeft">
              <div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-7 bimg">
                      <img alt="" class="animated bounceInDown delay1" src="assets/img/screenInnovations-bg.png">
                    </div>
                    <div class="col-sm-5 txt">
                      <h2 class="animated fadeInDown"><strong>Projection with lights on!</strong></h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cameraContent">
            <div class="camera_caption fadeFromLeft">
              <div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-7 bimg"><img alt="" src="assets/img/conference-system.png"></div>
                    <div class="col-sm-5 txt">
                      <h2 class="animated fadeInDown"><strong>Professional Conference System SV3600</strong></h2>
                      <p class="animated fadeInUp hidden"> The SV18's audio system has 12 high sensitivity microphone
                        arrays With high-order beamforming technology 360<sup>0</sup> all round long distance Sound
                        acquisition</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cameraContent">
            <div class="camera_caption fadeFromLeft">
              <div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-5 bimg"><img alt="" src="assets/img/sprolink-bg.png"></div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-6 txt">
                      <h2 class="animated fadeInDown"><strong>Modular Video Wall Controller 3D/4K Pixel-to-Pixel Large
                          Scale Solution</strong></h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="camera_bar">
        <span class="camera_bar_cont">
          <span id="pie_0">
          </span>
        </span>
      </div>
      <div class="camera_commands">
        <div class="camera_play"></div>
        <div class="camera_stop"></div>
      </div>
      <div class="camera_prev"><span></span></div>
      <div class="camera_next"><span></span></div>
    </div>
    <div class="camera_loader"></div>
  </div>
</section>


<!--Our Brands section-->

<section class="services-style1-area service-page secpd1">
  <div class="container">
    <div class="sec-title centered">
      <!--<div class="title text-white">Sub Title</div>
				<div class="separator"><span></span></div>-->
      <h2 class="">Our Brands</h2>
      <div class="separator"><span></span></div>
    </div>
    <div class="row">
      <!--Start single solution style1-->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" *ngFor="let brand of brands">
        <div class="single-service-style1 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1200ms">
          <div class="inner">
            <div class="img-holder">
              <img (click)="clickBrand(brand.brand_id)" src="http://localhost:8081/{{brand.images}}" alt="images">
            </div>
          </div>
          <div class="text-holder text-center">
            <div class="button">
              <a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--End single solution style1-->

    </div>
  </div>
</section>


<!--Our products section-->
<section class="secpd2 pimgs" id="content">
  <div class="container">
    <div class="sec-title centered">
      <h2>Products</h2>
      <div class="separator"><span></span></div>
    </div>
    <div class="row">
      <div class="col-sm-12 aligncenter">
        <div class="bx-wrapper">
          <div class="bx-viewport">
            <ul class="bxslider">
              <li class="bx-clone">
                <div class="product-details"><img alt="" src="assets/img/products/05-nb.png">
                  <div class="details">
                    <h4>NorthBayou</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/03-lenscen.png">
                  <div class="details">
                    <h4>Lenscen</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/04-sprolink.png">
                  <div class="details">
                    <h4>Sprolink</h4>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-details"><img alt="" src="assets/img/products/07-boxlight.png">
                  <div class="details">
                    <h4>Boxlight</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/10-newstar.png">
                  <div class="details">
                    <h4>Newstar</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/06-si1.png">
                  <div class="details">
                    <h4>Screen Innovations</h4>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-details"><img alt="" src="assets/img/products/09-si2.png">
                  <div class="details">
                    <h4>Screen Innovations</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/11-si3.png">
                  <div class="details">
                    <h4>Screen Innovations</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/qomo1.png">
                  <div class="details">
                    <h4>Qomo</h4>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-details"><img alt="" src="assets/img/products/qomo2.png">
                  <div class="details">
                    <h4>Qomo</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/01-adder.png">
                  <div class="details">
                    <h4>Adder</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/abtus1.png">
                  <div class="details">
                    <h4>Abtus</h4>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-details"><img alt="" src="assets/img/products/abtus2.png">
                  <div class="details">
                    <h4>Abtus</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/02-eacome.png">
                  <div class="details">
                    <h4>Eacome</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/08-eacome2.png">
                  <div class="details">
                    <h4>Eacome</h4>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-details"><img alt="" src="assets/img/products/05-nb.png">
                  <div class="details">
                    <h4>NorthBayou</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/03-lenscen.png">
                  <div class="details">
                    <h4>Lenscen</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/04-sprolink.png">
                  <div class="details">
                    <h4>Sprolink</h4>
                  </div>
                </div>
              </li>
              <li class="bx-clone">
                <div class="product-details"><img alt="" src="assets/img/products/07-boxlight.png">
                  <div class="details">
                    <h4>Boxlight</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/10-newstar.png">
                  <div class="details">
                    <h4>Newstar</h4>
                  </div>
                </div>
                <div class="product-details"><img alt="" src="assets/img/products/06-si1.png">
                  <div class="details">
                    <h4>Screen Innovations</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="bx-controls bx-has-pager bx-has-controls-direction">
            <div class="bx-pager bx-default-pager">
              <div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link">1</a></div>
              <div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link active">2</a></div>
              <div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div>
              <div class="bx-pager-item"><a href="" data-slide-index="3" class="bx-pager-link">4</a></div>
              <div class="bx-pager-item"><a href="" data-slide-index="4" class="bx-pager-link">5</a></div>
            </div>
            <div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Videos section-->


<section id="content" class="secpd1 pvideos">
  <div class="container">
    <div class="sec-title centered">
      <h2>Videos</h2>
      <div class="separator"><span></span></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>    -->
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/BAoW_dCrfEc" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>						 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/VD3.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/0iJ11XUuYZQ" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>						 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/SI.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/6QU_iGwI8mE" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>	 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/Newstar.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/oXZSQGybyJc" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>						 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/qomo.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/5YgJ8ebH5Dk" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>						 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/Boxlight.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
                <div class="col-sm-4">
                  <!-- <iframe src="https://www.youtube.com/embed/pjU_3_VjGao" width="100%" height="315" allowfullscreen="true" frameborder="0"></iframe>	 -->
                  <video width="100%" height="auto" controls preload="metadata">
                    <source src="assets/videos/northbayou.mp4#t=0.5" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
