

<section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="inner-heading">
            <ul class="breadcrumb">
              <li><a href="/home">Home</a></li>
              </ul>
            <h2>About Us</h2>
          </div>
        </div>
      </div>
    </div>
  </section>


<section id="content" class="secpd1 about">
    <div class="container">
      <div class="row">
          <div class="col-sm-12">
          <!-- Section 1 Satrt  -->
  <div class="section">
  <div class="clearfix M10"></div>
  <p class="text-16">
    As digital transformation advances, businesses are increasingly able to take advantage of the innovation, flexibility, and creativity it can offer. A lot of this transformation happens through devices that enable stronger collaboration, greater efficiencies at workplace and improved customer satisfaction through better delivery of services.
</p>
<p class="text-16">
    BlueOcean is a pioneer at identifying your business efficiency needs, and catering to these needs through the very best-in-class line of products. We specialise in the distribution of  AV and ICT products across the Middle East and Africa. We are an authorised distribution partner with Eacome, Qomo, Abtus and a few other marquee brands that are both pioneers as well as the market leaders in the segments they operate.
</p>
<p class="text-16">
    BlueOcean is managed by seasoned entrepreneurs who have a solid understanding of the MEA market, and is backed by a dedicated sales, support and service establishment. BlueOcean continues to help businesses discover opportunities to evolve through cutting edge technology products to realize their full potential.
    </p>
</div>
<!-- Section 1 End   -->
     </div>
  </div>
</div>
</section>
<script>
function print_current_page()
{
window.print();
}
</script>
