<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<div>
					<h2>Product Details  <button class="btn-sm" (click)="openModal()" style="float:right;"> + Add New Product</button> </h2>	
				</div>	
			</div>
			<div class="card-body text-center">
			  <div class="table-responsive">
				<table class="table" border="1">
					<tr>
					  <th>Specification ID</th>
					  <th>Specification Name</th>
					  <th>Specification Images</th>
					  <th>Specification Description</th>
					  <th>Brand Name</th>
					  <th>Category Name</th>
                      <th>Sub category Name</th>
                      <th>Product Name</th>
					  <th colspan="2">Actions</th>	
					</tr>
					<tr *ngFor="let specification of specifications">
						<td>{{specification.specification_id}}</td>
						<td>{{specification.specification_name}}</td>
						<td>{{specification.specification_images}}</td>
						<td>{{specification.specification_desc}}</td>
						<td>{{specification.brand_name}}</td>
						<td>{{specification.categories_name}}</td>
                        <td>{{specification.sub_categories_details}}</td>
                        <td>{{specification.product_name}}</td>
						<td><button (click)="openModal(specification)" class="btn btn-info btn-sm">Edit</button>
						<button (click)="delete(specification.specification_id)" class="btn btn-danger btn-sm">Delete</button></td>
					</tr>
				</table>
			  </div>
			</div>			
		</div>
	</div>
</div>
