
<div class="row">
	<div class="col-12">
	   <div class="card">
		  <div class="card-header">
			<div>
				<h2>Sub-Categories <button class="btn-sm" (click)="openModal()" style="float:right;">+ Add New Sub Category</button></h2>
			</div>
		  </div>
		   <div class="card-body text-center" >
			<table border="1">
				<tr>
          			<th>Sub Categories ID</th>
					<th>Sub Categories Name</th>
					<th>Category Name</th>  
					<th>Brand Name</th> 
					<th>Images</th>
					<th>Sub Category Description</th>
					<th>Actions</th>
          		</tr>
				<tr *ngFor="let subcategory of subcategories">
					<td>{{subcategory.sub_categories_id}}</td>
					<td>{{subcategory.sub_categories_details}}</td>
					<td>{{subcategory.categories_name}}</td>
					<td>{{subcategory.brand_name}}</td>
					<td>{{subcategory.images}}</td>
					<td>{{subcategory.subcat_description}}</td>
					<td><button (click)="openModal(subcategory)" class="btn btn-info btn-sm">Edit</button>
						<button (click)="delete(subcategory.sub_categories_id)" class="btn btn-danger btn-sm">Delete</button></td>
				</tr>
			</table>
		  </div>
		</div>
	</div>
</div>