<section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="inner-heading">
            <ul class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              </ul>
            <h2>Resources</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="content" class="secpd1 gallery">
    <div class="container">
      <div class="row">
          <div class="col-sm-12">
          <!-- Section 1 Satrt  -->
  <div class="section">
  <div class="clearfix M10"></div> 
          <p class="text-16">Aspiring AV & ICT distributors in MEA region We are working at background to offer you best of the breed products and solutions Kindly bear with us for few more days</p>
  </div>
     <!-- Section 1 End   -->
          </div>
       </div>
    </div>
  </section>
<script>
function print_current_page()
{
window.print();
}
</script>
